@*@{
    Layout = "_LayoutNew";
}
 

<div class="portfolio pad" id="portfolio">
	<div>
		<!-- default heading -->
		<div class="default-heading">
			<!-- heading -->
			<h2>Kategorilerimiz</h2>
		</div>
	</div>
<!-- portfolio -->
<div class="portfolio-content" id="portfolioOwl">
	<div class="item">
		<!-- item image -->
			<img class="img-responsive"src ="~/img/portfolio/1.jpg" alt="" /> 
			
		<!-- transparent background -->
		<div class="p-transparent"></div>
		<!-- on mouse hover details -->
		<div class="p-hover">
			<!-- heading /title -->
			<h3>Pop</h3><hr>
			<!-- project details -->
				<p> Michael Jackson,Taylor Swift,Beyoncé vb sevdiginiz sanatci albümleri sizinle.</p>
			<!-- icon -->
			<a href="#"><i class="fa fa-share"></i></a>
		</div>
	</div>
	<div class="item">
		<!-- item image -->
			<img class="img-responsive" src="~/img/portfolio/2.jpg" alt="">
		<!-- transparent background -->
		<div class="p-transparent"></div>
		<!-- on mouse hover details -->
		<div class="p-hover">
			<!-- heading /title -->
			<h3>Klasik</h3><hr>
			<!-- project details -->
				<p>Beethoven, Bach, Mozart ve bircok aradınız albümler bizde.</p>
			<!-- icon -->
			<a href="#"><i class="fa fa-share"></i></a>
		</div>
	</div>
	<div class="item">
		<!-- item image -->
			<img class="img-responsive" src="~/img/portfolio/3.jpg" alt="">
		<!-- transparent background -->
		<div class="p-transparent"></div>
		<!-- on mouse hover details -->
		<div class="p-hover">
			<!-- heading /title -->
			<h3>Rock n Roll</h3><hr>
			<!-- project details -->
			<p>Rock grup ve solo albümler bulabilrsiniz.</p>
			<!-- icon -->
			<a href="#"><i class="fa fa-share"></i></a>
		</div>
	</div>
	<div class="item">
		<!-- item image -->
			<img class="img-responsive" src="~/img/portfolio/4.jpg" alt="">
		<!-- transparent background -->
		<div class="p-transparent"></div>
		<!-- on mouse hover details -->
		<div class="p-hover">
			<!-- heading /title -->
			<h3>Jazz</h3><hr>
			<!-- project details -->
			<p>Tüm aranılanlar bizde.</p>
			<!-- icon -->
			<a href="#"><i class="fa fa-share"></i></a>
		</div>
	</div>
	<div class="item">
		<!-- item image -->
			<img class="img-responsive" src="~/img/portfolio/5.jpg" alt="">
		<!-- transparent background -->
		<div class="p-transparent"></div>
		<!-- on mouse hover details -->
		<div class="p-hover">
			<!-- heading /title -->
			<h3>Hip Hop/Rap</h3><hr>
			<!-- project details -->
			<p>Nefes kesici albümler sizin icin.</p>
			<!-- icon -->
			<a href="#"><i class="fa fa-share"></i></a>
		</div>
	</div>
	<div class="item">
		<!-- item image -->
			<img class="img-responsive" src="~/img/portfolio/6.jpg" alt="">
		<!-- transparent background -->
		<div class="p-transparent"></div>
		<!-- on mouse hover details -->
		<div class="p-hover">
			<!-- heading /title -->
			<h3>Blues</h3><hr>
			<!-- project details -->
			<p>En çok dinlenenlerle sizleyiz.</p>
			<!-- icon -->
			<a href="#"><i class="fa fa-share"></i></a>
		</div>
	</div>
	<div class="item">
		<!-- item image -->
			<img class="img-responsive" src="~/img/portfolio/7.jpg" alt="">
		<!-- transparent background -->
		<div class="p-transparent"></div>
		<!-- on mouse hover details -->
		<div class="p-hover">
			<!-- heading /title -->
			<h3>Halk müzükleri</h3><hr>
			<!-- project details -->
			<p>Aradıgınız her halk müzügü mevcut.</p>
			<!-- icon -->
			<a href="#"><i class="fa fa-share"></i></a>
		</div>
	</div>

</div>
<div class="text-center">
	<a href="#" class="btn btn-lg btn-theme">Daha Fazla</a>
</div>
<!-- portfolio end -->
*@